{
	"extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "react/prefer-stateless-function": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": [0]
  }
}
