.root {
  max-width: 500px;
  margin: 0 auto;
}

.content {
  padding: 14px 24px 24px 24px;
}

.field {
  display: block!important;
  width: 100%!important;
}

.actions-wrapper {
  margin-top: 24px;
  text-align: right;
}

.error {
  margin: 5px 0 10px;
}
